# We use a whitelisting-based .gitignore.
# For reference: https://dylankatz.com/Why-We-Fail-At-Keeping-Git-Secrets/
*
!blackcat/
!blackcat/**
!config.example.yml
!setup.py

# Containers
!k8s
!k8s/secrets.example.yml
!k8s/*.spec
!Dockerfile

# Pipenv
!Pipfile
!Pipfile.lock

# Misc
!.gitignore
!README.md
!splunk-dashboard.xml
!.flake8
!CONTRIBUTING.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!.github
!.github/**
!run_test.sh

# Kill these
**/__pycache__/**
*.pyc
**/.pytest_cache