*
!src/
!src/**
!config.example.yml

# Containers
!k8s
!k8s/secrets.example.yml
!k8s/k8s-cron.spec
!k8s/enabler-cron.spec
!Dockerfile

# Pipenv
!Pipfile
!Pipfile.lock
!.gitignore
!README.md

# Kill these
**/__pycache__/**
*.pyc
src/**.pytest_cache